<!-- This is Product View it will be render at layout -->
    <!-- <div class="product container"> -->
    <!-- <h1>This is Product Page</h1> -->
    <!-- This line is not hard coded it is js -->
    <!-- <% products.forEach(product=>{ %> -->
    <!-- <h2><%= product.name %></h2> -->
    <!-- <% }) %> -->
    <!-- </div> -->


    <main class="bg-white p-8 rounded-xl shadow-lg max-5xl mx-auto">
        <section class="flex justify-between items-center mb-8">
            <h2 class="text-2xl font-semibold text-gray-900">Inventory</h2>
            <a href="/new">
            <button class="inline-flex items-center bg-indigo-600 text-white px-6 py-3 rounded-lg shadow-md hover:bg-indigo-700 transition focus:outline-none focus:ring-2 focus:ring-indigo-400">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 mr-2" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M12 4v16m8-8H4" />
                </svg>
                Add New Item
            </button>
            </a>
        </section>

        <div class="overflow-x-auto">
        <table class="min-w-full divide-y divide-gray-200">
            <thead class="bg-indigo-100">
                <tr>
                    <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-indigo-700 uppercase tracking-wider">ID</th>
                    <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-indigo-700 uppercase tracking-wider">Name</th>
                    <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-indigo-700 uppercase tracking-wider">Description</th>
                    <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-indigo-700 uppercase tracking-wider">Quantity</th>
                    <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-indigo-700 uppercase tracking-wider">Price</th>
                    <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-indigo-700 uppercase tracking-wider">Image</th>
                    <th scope="col" class="relative px-6 py-3"><span class="sr-only">Edit</span></th>
                </tr>
            </thead>
            <tbody class="bg-white divide-y divide-gray-200">
                
                <!-- This line is not hard coded it is js -->
                <% products.forEach(product=>{ %>
                    <tr class="hover:bg-indigo-50">
                        <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">
                            <%= product.id %>
                        </td>
                        <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">
                            <%= product.name %>
                        </td>
                        <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-700">
                            <%= product.desc %>
                        </td>
                        <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-700">
                            <%= product.quantity %>
                        </td>
                        <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-700">
                            $ <%= product.price %>
                        </td>
                        <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-700">
                            <img src="<%= product.imageUrl %>">
                        </td>
                        <td class="px-6 py-4 whitespace-nowrap text-right text-sm font-medium">
                        <button class="text-indigo-600 hover:text-indigo-900 mr-4"><a href="/update/<%= product.id %>">Edit</a></button>
                        <button class="text-red-600 hover:text-red-900" onclick="deleteConfirm('<%= product.id %>')">Delete</></button>
                        </td>
                    </tr>
                <% }) %>
            </tbody>
        </table>
        </div>
    </main>