
<!-- <form action="/" method="post">
  <div class="mb-3">
    <label for="name" class="form-label">Name</label>
    <input type="text" class="form-control" id="name" name="name">
    <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
  </div>
  <div class="mb-3">
    <label for="desc" class="form-label">Desc</label>
    <input type="text" class="form-control" id="desc" name="desc">
  </div>
    <div class="mb-3">
    <label for="price" class="form-label">Price</label>
    <input type="number" class="form-control" id="price" name="price">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form> -->


<!-- heading -->
<div class="bg-white/50 rounded pt-14 pb-5 border-1 border-neutral-300 px-5 shadow-lg">
  <div class="mx-auto max-w-2xl text-center">
    <h2 class="text-4xl font-semibold tracking-tight text-balance text-gray-900 sm:text-5xl">Update Product</h2>
    <p class="mt-2 text-lg/8 text-gray-500">Please edit details of your Product</p>
  </div>
  <!-- form -->
  <form action="/update" method="POST" class="mx-auto mt-10 max-w-xl sm:mt-20">
    <div class="flex flex-col">

        <div class="">
            
            <div class="mt-2.5">
                <input id="id" type="text" name="id" class="block w-full rounded-md bg-gray-100 px-3.5 py-2 text-base text-gray-900 outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-cyan-400" value="<%= prodFound.id %>" hidden/>
            </div>
        </div>

      <!-- name -->
      <div class="mt-5">
        <label for="name" class="block text-sm/6 font-semibold text-gray-900">Product Name</label>
        <div class="mt-2.5">
          <input id="name" type="text" name="name" autocomplete="product name" class="block w-full rounded-md bg-white px-3.5 py-2 text-base text-gray-900 outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-cyan-400" value="<%= prodFound.name %>"/>
        </div>
      </div>

      <!-- description -->
      <div class="mt-5">
        <label for="desc" class="block text-sm/6 font-semibold text-gray-900">Despription</label>
        <div class="mt-2.5">
          <textarea id="desc" name="desc" rows="4" class="block w-full rounded-md bg-white px-3.5 py-2 text-base text-gray-900 outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-cyan-400" ><%= prodFound.desc %></textarea>
        </div>
      </div>

      <!-- price -->
      <div class="mt-5">
        <label for="price" class="block text-sm/6 font-semibold text-gray-900">Price</label>
        <div class="mt-2.5">
          <input id="price" type="number" name="price" autocomplete="price" class="block w-full rounded-md bg-white px-3.5 py-2 text-base text-gray-900 outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-cyan-400" value="<%= prodFound.price %>"/>
        </div>
      </div>

      <!-- quantity -->
      <div class="mt-5">
        <label for="quantity" class="block text-sm/6 font-semibold text-gray-900">Quantity</label>
        <div class="mt-2.5">
          <input id="quantity" type="number" name="quantity" autocomplete="quantity" class="block w-full rounded-md bg-white px-3.5 py-2 text-base text-gray-900 outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-cyan-400" min="1" value="<%= prodFound.quantity %>"/>
        </div>
      </div>

      <div class="mt-5">
        <label for="url" class="block text-sm/6 font-semibold text-gray-900">Image URL</label>
        <div class="mt-2.5">
          <input id="url" type="url" name="imageUrl" autocomplete="url" class="block w-full rounded-md bg-white px-3.5 py-2 text-base text-gray-900 outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-cyan-400" value="<%= prodFound.imageUrl %>"/>
        </div>
      </div>
      
    </div>
    <div class="mt-10">
      <button type="submit" class="block w-full rounded-md bg-gradient-to-r from-indigo-500 via-sky-500 to-lime-500 opacity-80  oppx-3.5 py-2.5 text-center text-sm font-semibold text-white shadow-xs hover:opacity-90  focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Update Product</button>
    </div>
  </form>
</div>
